/* given from skeleton code in Code Sandbox -- 316.2 BOM lab *temp demo**/
/* NOTE: Do NOT use this until after finishing up the BOM -- as the DOM manipulation would
NOT work if the BOM window.prompt() wouldn't be finished */

body {
  background: #aa1717;
  color: #232323;
  line-height: 30px;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 25px 50px;
}

code {
  color: #09507c;
  background: #deedf2;
  padding: 2px 10px;
  border-radius: 10px;
}

td {
  border: 1px solid black;
  padding: 15px;
}

button {
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  border-color: #09507c;
  background-color: #deedf2;
}

.hexa-color{
    /* display: flex;
    justify-content: center; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width:60%;
    margin-left:20%;
    padding-top: 10px;
    /* padding-right: auto; */
}
.brand{
    display: flex;
    /* justify-content: space-between; */
    text-align: left;
    width: 60%;
    margin: 0.5rem;
    
}
  
/* .brand */
/* .theme-change{
    background:
} */
footer{
    display:flex;
    
    
}
footer > p{
    text-align:right;
    font-size:medium;
    margin-left:auto;
}

/* accomodate for different different viewing */
/* changes width to 100% view when the viewport is 426px or smaller (mobile[large]) */
@media screen and (max-width: 426px){
    body{
        width: 100%; 
    }
}

